<div class= "search">
  <%= search_form_for @search do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>
    <%= f.submit %>
  <% end %>
</div>
<div class="dropdown clearfix pull-right">

    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= sort_link @search, :wage_lower_bound, "薪资下限排序" %>
        </li>
        <li>
            <%= sort_link @search, :wage_upper_bound, "薪资上限排序" %>

        </li>
        <li>
          <%= sort_link @search, :created_at, "创建时间顺序" %>

        </li>
    </ul>
</div>
<table class="table table-boldered">
    <thead>
        <tr>
            <td>
                职缺</td>
            <td>薪资下限</td>
            <td>薪资上限</td>
            <td>刊登时间</td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.wage_lower_bound %>
            </td>
            <td>
                <%= job.wage_upper_bound %>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>
